.Login-form {
   width: 340px;
    margin: 50px auto;
}


.Login-form h2 {
     text-align: center;
     color: aqua;
     
 }


.form-group{

 border-radius: 15px;
}

.form-group input[type="text"] input[type= "Password"]{
    background-color: aqua;
}



.form-control, .btn {

     min-height: 38px;
     border-radius: 5px;
 }

 .btn {        
     font-size: 15px;
     font-weight: bold;
 }
